body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  overflow: hidden;
}

/* FUNDO */
.bg {
  position: fixed;
  inset: 0;
  background: url("bg.gif") center/cover;
  filter: blur(12px) brightness(0.3);
}

/* ENTER */
#enter-screen {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 0.6s;
}

#enter-screen.hide {
  opacity: 0;
  pointer-events: none;
}

#enter-screen h1 {
  font-size: 30px;
  text-shadow: 0 0 15px white;
}

/* CENTRO */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* FOTO */
.pfp {
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 0 20px white;
}

/* TEXTOS */
.bio {
  opacity: 0.85;
}

.about {
  opacity: 0.6;
  font-size: 14px;
}

/* ICONES */
.icons {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.85;
  transition: 0.25s;
}

.icon:hover {
  transform: scale(1.25);
  opacity: 1;
}

/* CARD */
.spotify-card {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
}
